*{

    font-family:'Times New Roman', Times, serif;
}
body{   
    margin: o;
    background-color:#0b0b25;
}
header {
    height: 60vh;
background-color: #0b0b25;
text-align:center;
margin: top 70px;
}
h1{
    font-size: 30px;
    color: rgb(14, 200, 126);
}
header h1{
    padding-top: 200px;
    font-size: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
    color:orange;
    margin: 0;
}
.button{ 
background: color #281798 ;
color: rgb(98, 5, 5);
border:10px;
border-radius:50px;
cursor: pointer;
font: size 60px;
margin: 30;
height: 60;
width: 100;
padding:25px 35px ;
margin-right:40px ;

}
.button:hover{
    color: aqua;
    background-color: black;
}
.sudha{
border: 5px solid white;
height: 47vh;
text-align: center;
border-radius:4px;
}

  main{
    padding:30px;
    border:10px;
    }
    .section{
        color: #eae1e1;
    }

  p{
    color:white;
    font-size:20px;
  }
  ol{
    color:white;
    font-size:20px
    
  }
  label{
    color:white;
    font-size:20px;
  }
b{
    color:white;
    font-size:20px;
}
.height{
    color:white;
}
.section{
    margin-bottom:20px;
    color: #e8dbdb;
    border: 5px solid rgb(221, 222, 207);
}
section{
    height:70vh;
    broder:5px solid rgb(241, 241, 232)
    margin-top:20px;
    padding:20px;
    boder-radius:30px;
    margin-bottom:20px;
}
.select{
    border: 5px solid rgb(241, 241, 232);
    color: #eae7e7;
}
.skills{
    border: 5px solid rgb(221, 222, 207);
    color: #e8dbdb;
}
.contactme{
    border: 6px;px solid rgb(221, 222, 207);
    color: #e8dbdb;
    height: 50vh;
}
.submit{
    background-color: rgb(53, 80, 152);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}
.submit:hover{
    background-color:lightgrey
}
input{
    margin:10px;
    padding:5px;
    border-radius:5px;
    border:1px solid black;
}
.fixedbutton{
    position:fixed;
    bottom:10px;
    right:10px;
    padding:10px 15px;
    background-color:rgb(69, 74, 88);
    color:white;
    border:none;
    border-radius:50px;
    height: 70px;
    width: 70px;
    cursor:pointer;
}
.first{
    height:50vh;
    background-color: rgb(124, 6, 6);
    padding:20px;
    margin-top:20px;
    color:rgb(250, 248, 248);
    text-align:center;
    font-size:20px;
}